html{
    background-color: steelblue;
    margin-bottom: 80px;
    
}
header{
    display: flex;
    background-color: aliceblue;
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    border-style: solid;
}

input {
    flex:0.1;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    align-items: center;

}

#menu {
    border: none;
    background: none;
    cursor:pointer;
    
}

#menu_div {
    background: aliceblue;
    list-style-type: none;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 57px;
}
#menu_div > a >li {
    padding: 5px 5px;
    border-width: 0px 0px 1px 0px ;
    border-style: ridge;
}

#menu_div > a{
    color: black;
    text-decoration: none;
}

#menu_div > a:hover{
    opacity: 50%;
}